# PyCity Schools Analysis
- The top five performing schools are all charter schools, and the bottom five performing schools are all district schools.
- Average math and reading scores are relatively consistent across all 15 schools within the district. Math scores are consistently lower than reading schools in each of the 15 schools.

In [1]:
 # Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_csv = "../Resources/schools_complete.csv"
student_data_csv = "../Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

In [4]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary
- Calculate the total number of schools

- Calculate the total number of students

- Calculate the total budget

- Calculate the average math score

- Calculate the average reading score

- Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

- Calculate the percentage of students with a passing math score (70 or greater)

- Calculate the percentage of students with a passing reading score (70 or greater)

- Create a dataframe to hold the above results

In [6]:
# calculate the total number of schools
total_schools = len(school_data_complete['School ID'].unique())
total_schools

15

In [7]:
# calculate the total number of students
total_students = len(school_data_complete['Student ID'].unique())
total_students

39170

In [8]:
# calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [9]:
# calculate the average math score
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [10]:
# calculate the average reading score
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [11]:
# Calculate the percentage of students with a passing math score (70 or greater)
above_70_math_score = student_data['math_score'] >= 70
percent_passing_math = (above_70_math_score.mean())*100
percent_passing_math

74.9808526933878

In [12]:
# Calculate the percentage of students with a passing reading score (70 or greater)
above_70_reading_score = student_data['reading_score'] >= 70
percent_passing_reading = (above_70_reading_score.mean())*100
percent_passing_reading

85.80546336482001

In [13]:
# find the students who passed both math and reading with a 70 or above 

pass_math_and_reading = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
pass_math_and_reading_count = pass_math_and_reading["student_name"].count()
pass_math_and_reading_count

25528

In [14]:
# calculate overall passing percentage for students who passed both math and reading
overall_pass_percentage = pass_math_and_reading_count / total_students * 100
overall_pass_percentage

65.17232575950983

In [15]:
# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({'Total Schools' : [total_schools],
                                   'Total Students' : [total_students],
                                   'Total Budget' : [total_budget],
                                   'Average Math Score' : [average_math_score],
                                   'Average Reading Score' : [average_reading_score],
                                   '% Passing Math' : [percent_passing_math],
                                   '% Passing Reading' : [percent_passing_reading],
                                   '% Overall Passing' : [overall_pass_percentage]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
#checking data types
district_summary_df.dtypes

Total Schools              int64
Total Students             int64
Total Budget               int64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [17]:
# clean up/format district_summary_df
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:,.2f}".format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:,.2f}".format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map("{:,.2f}%".format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:,.2f}%".format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map("{:,.2f}%".format)
district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

# School Summary
Create an overview table that summarizes key metrics about each school, including:
- School Name
- School Type
- Total Students
- Total School Budget
- Per Student Budget
- Average Math Score
- Average Reading Score
- % Passing Math
- % Passing Reading
- Overall Passing Rate (Average of the above two)

Create a dataframe to hold the above results

In [18]:
# determine the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [19]:
# calculate total students per school
total_students_per_school = school_data.set_index(["school_name"])["size"]
total_students_per_school

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [20]:
# calculate total budget per school
total_school_budget = school_data.set_index(["school_name"])["budget"]
total_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [21]:
# calculate per student budget
per_student_budget = total_school_budget/total_students_per_school
per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [22]:
# calculate math averages per school
student_math_avg = school_data_complete.set_index(["school_name"])["math_score"]
avg_per_school = school_data_complete.groupby(["school_name"]).mean()

math_avg_per_school = school_data_complete.groupby(["school_name"]).mean()["math_score"]
math_avg_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
# calculate reading averages per school
student_reading_avg = school_data_complete.set_index(["school_name"])["reading_score"]
avg_per_school = school_data_complete.groupby(["school_name"]).mean()

reading_avg_per_school = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
reading_avg_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
# find number of students passing math per school
pass_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_math = pass_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [25]:
# find number of students passing reading per school
pass_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_reading = pass_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [26]:
# calculate percentage of students passing math per school
percent_passing_math_school = per_school_passing_math / total_students_per_school * 100
percent_passing_math_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [27]:
# calculate percentage of students passing reading per school
percent_passing_reading_school = per_school_passing_reading / total_students_per_school * 100
percent_passing_reading_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [28]:
# find number of students who passed both math and reading 
per_school_pass_math_reading = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
per_school_pass_math_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [29]:
# calculate the number of students who passed both math and reading per school
per_school_pass_math_reading = per_school_pass_math_reading.groupby(["school_name"]).count()["student_name"]
per_school_pass_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [30]:
# calculate the overall passing percentage per school
school_overall_pass_percent = per_school_pass_math_reading/total_students_per_school * 100
school_overall_pass_percent

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [31]:
# create data frame to hold the above information per school
school_summary_df = pd.DataFrame({"School Type" : school_types,
                                 "Total Students" : total_students_per_school,
                                 "Total School Budget" : total_school_budget,
                                 "Per Student Budget" : per_student_budget,
                                 "Average Math Score" : math_avg_per_school,
                                 "Average Reading Score" : reading_avg_per_school,
                                 "% Passing Math" : percent_passing_math_school,
                                 "% Passing Reading" : percent_passing_reading_school,
                                 "% Overall Passing" : school_overall_pass_percent})
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [32]:
# clean up/format school summary data frame

#school_summary_df['Average Math Score'] = school_summary_df['Average Math Score'].map("{:,.2f}".format)
#school_summary_df['Average Reading Score'] = school_summary_df['Average Reading Score'].map("{:,.2f}".format)
#school_summary_df['% Overall Passing'] = school_summary_df['% Overall Passing'].map("{:,.2f}%".format)
#school_summary_df['% Passing Math'] = school_summary_df['% Passing Math'].map("{:,.2f}%".format)
#school_summary_df['% Passing Reading'] = school_summary_df['% Passing Reading'].map("{:,.2f}%".format)
#school_summary_df['Total Students'] = school_summary_df['Total Students'].map("{:,}".format)
school_summary_df['Total School Budget'] = school_summary_df['Total School Budget'].map("${:,.2f}".format)
school_summary_df['Per Student Budget'] = school_summary_df['Per Student Budget'].map("${:,.2f}".format)

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

# Top Performing Schools (By % Overall Passing)
 
Sort and display the top five performing schools by % overall passing.

In [33]:
# sort top 5 schools by overall pass percentage
top_schools = school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

# Bottom Performing Schools (By % Overall Passing)
 
Sort and display the five worst-performing schools by % overall passing.

In [34]:
# sort bottom 5 schools by overall pass percentage
bottom_schools = school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

# Math Scores by Grade
 
- Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
- Create a pandas series for each grade. Hint: use a conditional statement.
- Group each series by schoolCombine the series into a dataframe
- Optional: give the displayed data cleaner formatting

In [35]:
# categorize students and create variables for each grade level
ninth_grade = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_grade = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_grade = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_grade = school_data_complete[(school_data_complete["grade"] == "12th")]

In [36]:
# group each grade level per school by their average math score
ninth_grade_math = ninth_grade.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math = tenth_grade.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math = eleventh_grade.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math = twelfth_grade.groupby(["school_name"]).mean()["math_score"]

In [37]:
# create data frame for average math scores per school per grade level
math_scores_per_grade_per_school = pd.DataFrame({"9th" : ninth_grade_math,
                                                "10th" : tenth_grade_math,
                                                "11th" : eleventh_grade_math,
                                                "12th" : twelfth_grade_math})
math_scores_per_grade_per_school

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Score by Grade
 
- Perform the same operations as above for reading scores

In [38]:
# group each grade level per school by their average reading score
ninth_grade_reading = ninth_grade.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading = tenth_grade.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading = eleventh_grade.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading = twelfth_grade.groupby(["school_name"]).mean()["reading_score"]

In [39]:
# create data frame for average reading scores per school per grade level
reading_scores_per_grade_per_school = pd.DataFrame({"9th" : ninth_grade_reading,
                                                "10th" : tenth_grade_reading,
                                                "11th" : eleventh_grade_reading,
                                                "12th" : twelfth_grade_reading})
reading_scores_per_grade_per_school

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending
 
Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
- Average Math Score
- Average Reading Score
- % Passing Math
- % Passing Reading
- Overall Passing Rate (Average of the above two)

In [40]:
# calculate stats per student spending to establish appropriate bins
per_student_budget.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [41]:
# create appropriate bins and cut with per student budget per school
spending_bins = [0, 585, 630, 645, 680]
pd.cut(per_student_budget, spending_bins)

school_name
Huang High School        (645, 680]
Figueroa High School     (630, 645]
Shelton High School      (585, 630]
Hernandez High School    (645, 680]
Griffin High School      (585, 630]
Wilson High School         (0, 585]
Cabrera High School        (0, 585]
Bailey High School       (585, 630]
Holden High School         (0, 585]
Pena High School         (585, 630]
Wright High School         (0, 585]
Rodriguez High School    (630, 645]
Johnson High School      (645, 680]
Ford High School         (630, 645]
Thomas High School       (630, 645]
dtype: category
Categories (4, interval[int64]): [(0, 585] < (585, 630] < (630, 645] < (645, 680]]

In [42]:
# create group names for the spending bins and add column to school summary data frame
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_student_budget, spending_bins, labels=group_names)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [43]:
# calculate averages for required columns
math_scores_per_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
reading_scores_per_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
passing_math_per_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
passing_reading_per_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_per_spending = school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

#check to see if calculations are correct
overall_passing_per_spending

Spending Ranges (Per Student)
<$585       90.369459
$585-630    81.418596
$630-645    62.857656
$645-680    53.526855
Name: % Overall Passing, dtype: float64

In [44]:
# compile above information into data frame to show columns by spending ranges
spending_summary_df = pd.DataFrame({"Average Math Score" : math_scores_per_spending,
                                   "Average Reading Score" : reading_scores_per_spending,
                                   "% Passing Math" : passing_math_per_spending,
                                   "% Passing Reading" : passing_reading_per_spending,
                                   "% Overall Passing" : overall_passing_per_spending})

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

# Scores by School Size
 
Perform the same operations as above, based on school size.

In [45]:
# create appropriate bins and cut with total students per school
size_bins = [0, 1000, 2000, 5000]
pd.cut(total_students_per_school, size_bins)

school_name
Huang High School        (2000, 5000]
Figueroa High School     (2000, 5000]
Shelton High School      (1000, 2000]
Hernandez High School    (2000, 5000]
Griffin High School      (1000, 2000]
Wilson High School       (2000, 5000]
Cabrera High School      (1000, 2000]
Bailey High School       (2000, 5000]
Holden High School          (0, 1000]
Pena High School            (0, 1000]
Wright High School       (1000, 2000]
Rodriguez High School    (2000, 5000]
Johnson High School      (2000, 5000]
Ford High School         (2000, 5000]
Thomas High School       (1000, 2000]
Name: size, dtype: category
Categories (3, interval[int64]): [(0, 1000] < (1000, 2000] < (2000, 5000]]

In [46]:
# create group names for the size bins and add column to school summary data frame
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_summary_df["School Size"] = pd.cut(total_students_per_school, size_bins, labels=group_names)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,Medium (1000-2000)

In [47]:
# calculate averages for required columns
math_scores_per_size = school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
reading_scores_per_size = school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
passing_math_per_size = school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
passing_reading_per_size = school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
overall_passing_per_size = school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

#check to see if calculations are correct
overall_passing_per_size

School Size
Small (<1000)         89.883853
Medium (1000-2000)    90.621535
Large (2000-5000)     58.286003
Name: % Overall Passing, dtype: float64

In [48]:
# compile above information into data frame to show columns by size ranges
size_summary_df = pd.DataFrame({"Average Math Score" : math_scores_per_size,
                                   "Average Reading Score" : reading_scores_per_size,
                                   "% Passing Math" : passing_math_per_size,
                                   "% Passing Reading" : passing_reading_per_size,
                                   "% Overall Passing" : overall_passing_per_size})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

# Scores by School Type
 
Perform the same operations as above, based on school type

In [49]:
# calculate averages for required columns
math_scores_per_type = school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
reading_scores_per_type = school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
passing_math_per_type = school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
passing_reading_per_type = school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
overall_passing_per_type = school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

#check to see if calculations are correct
overall_passing_per_type

School Type
Charter     90.432244
District    53.672208
Name: % Overall Passing, dtype: float64

In [50]:
# compile above information into data frame to show columns by school type
type_summary_df = pd.DataFrame({"Average Math Score" : math_scores_per_type,
                                   "Average Reading Score" : reading_scores_per_type,
                                   "% Passing Math" : passing_math_per_type,
                                   "% Passing Reading" : passing_reading_per_type,
                                   "% Overall Passing" : overall_passing_per_type})

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208